
.Message-List-Container {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    height: 100%;
    padding: 0 8px;
}
  
.Message-Container {
    display: grid;
    grid-template-columns: 160px 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 8px;
    margin-bottom: 8px;
}

.timestamp {
    color: orange;
}

.Message-Input {
    padding: 12px;
    border: 1px solid black;
}

.message-owner, .message {
    margin-top: 0;
    color: green
}

.Message-input {
    padding: 0 8px;
    color: purple;
}

.Message-List-Container::-webkit-scrollbar {
    width: 20px;
}

.Message-List-Container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

.Message-List-Container::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%); */
    background-color: skyblue;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

/* .Message-List-Container::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
} */